<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainUser"></activity>
        <activity android:name=".CadastroActivity" />
        <activity android:name=".ConsultaActivity" />
        <activity android:name=".vendasView" />
        <activity android:name=".vendasEditar" />
        <activity android:name=".Vendas" />
        <activity android:name=".produtoEditar" />
        <activity android:name=".produtoView" />
        <activity android:name=".produto" />
        <activity android:name=".fabricanteEditar" />
        <activity android:name=".fabricanteview" />
        <activity android:name=".fabricante" />
        <activity android:name=".CategoriaEditar" />
        <activity android:name=".categoriaView" />
        <activity android:name=".Categoria" />
        <activity android:name=".Main" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>